<h1>Strona testowa</h1>
Wartość 1: {{ values.value1 }}<br/>
Wartość 2: {{ values.value2 }}<br/>
Wartość 3: {{ values.value3 }}<br/>
Wartość 4: {{ values.value4 }}<br/>
Wartość 5: {{ values.value5 }}<br/>
Wartość 6: {{ values.value6 }}<br/>
Wartość 7: {{ values.value7 }}<br/>
Wartość 8: {{ values.value8 }}<br/>
Wartość 9: {{ values.value9 }}<br/>
Wartość 10: {{ values.value10 }}<br/>
<br/>
{{ login_logout_message }}{{ form(login_logout_button) }}{{ form(reserve_button) }}