{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}"/>
    <link rel="stylesheet" href="{{ asset('assets/css/ie10-viewport-bug-workaround.css') }}"/>
    <link rel="stylesheet" href="{{ asset('carousel.css') }}"/>
    {% endblock %}
    <html>
    <head>
    </head>
    <body>
    <div class="row featurette">
        <div class="col-md-7">
        {{ login_logout_message }}{{ form(login_logout_button) }}
{% if zalogowany == 1 %}
<div class="col-md-5">
          <img class="featurette-image img-responsive center-block" src="{{ asset('pictures/jedzie.gif') }}" alt="Generic placeholder image">
        </div>
        </br>
<a href="moje rezerwacje">Moje rezerwacje</a>
<a href="moje wyporzyczenia">Moje wypożyczenia</a>
{% endif %}
<a href="../oferta">Oferta</a>
</br>
</br>
<h2 class="featurette-heading">Potwierdzenie wypożyczenia</h2>
Marka samochodu: {{ car.name }}<br/>
Data rozpoczęcia:{{ start_date }}<br/>
Data zakończenia:{{ end_date }}<br/>
Ilość dni:{{ days_quantity }}<br/>
Cena:{{ price }}<br/>
{{ form(confirm_button) }}
          

        
